<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>Biblioteca</h4>
    </div>
    <div class="col-6 text-end">
      <button type="button" class="btn btn-outline-primary">Añadir</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">Titulo del libro</div>
        <div class="card-body">
          <p>Autor</p>
          <p>Año</p>
          <p>Genero</p>
          <p>Imagen</p>
        </div>
      </div>
    </div>
  </div>
</div>